.main .main-main-grid-conteiner{
    min-height:calc(100vh - 70px);
    background-color:rgb(240,240,240);
}

.main .main-paper{
    padding:20px;
    margin-top:30px;
    background-color:rgb(230,230,230);
}

.main .main-advertising-typography{
    margin-top:20px;
    margin-bottom:20px;
    color:rgb(100,100,100);
}

.main .main-tages-typography{
    color:rgb(0,0,0);
}

.main .main-vertical-divider{
    height:100%;
    margin-left:100%;
}

.main .main-vertical-divider-left{
    height:100%;
    margin-left:50%;
}

.main .main-color-black{
    color:rgb(0,0,0);
}

.main .main-grid-cost-item{
    margin-top: 44px;
}

.main .main-margin-top{
    margin-top:30px;
}

.main .main-divider{
    width:100%;
    margin-top:30px;
}

.main .main-typography-find{
    font-size:20px;
    color:rgb(0,0,0);
}

.main .main-typography-amount{
    font-size:20px;
    color:rgb(120,120,120);
    margin-left:8px;
}

.main .main-typography-clear{
    font-size:14px;
    color:rgb(100,100,100);
    cursor:pointer;
}

.main .main-paper-cost{
    background-color:rgb(230,230,230);
    margin-top:30px;
}

.main .main-input{
    width: 42px;
}

.main .main-grid-container-slider{
    width:90%;
    margin:0 auto;
}

.main .main-paper-category{
    background-color:rgb(230,230,230);
    padding:10px;
    margin-top:30px;
    margin-bottom:30px;
}

.main .main-add-icon{
    margin-left:20px;
    margin-top:27px;
    cursor:pointer;
}

.main .main-form-control{
    width:70%;
}

.main .main-ship{
    margin:5px;
}

.main .main-slider-item{
    margin:0 auto;
    width:80%;
}

.main .main-page-container{
    padding-top:50px;
    padding-bottom:50px;
    background-color:rgb(240,240,240);
}